*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f4f4f4;
}

#Movie-Details{
    margin: 30px 30px;
    font-family: 'Noto Sans', sans-serif !important;
    border-radius: 12px;
    background-color: #272422c3;
    padding:40px 30px 40px 30px ;
    column-gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.details>h2{
    margin-left: -5px;
    padding-bottom: 10px;
}

#Movie-Details>div>img{
    height: 450px;
    width: 300px;
}

.Moviebadges>p{
    padding: 5px;
    width: 200px;
    border-left: 3px solid #fb9415;
    background-color: 2px solid #f4f4f465;
}

.details>p{
    padding: 5px;
    border-left: 3px solid #fb9415;
    background-color: 2px solid #f4f4f465;
}

@media(max-width:576px){
    #Movie-Details{
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 30px;
    }
}